<header class="mainheader p-4">
    <app-navbar></app-navbar>
    <div class="row pt-5 text-white">
        <div class="col-lg-6 p-md-4 col-md-12">
            <h2>Fine-Art Photographer</h2>
            <h1>Lance Hardwood</h1>
            <p>I am committed to offering photography services of the highest quality in Vienna, combining energy and enthusiasm with years of experience.</p>
            <button class="btn btn-outline-light mt-4" routerLink="/portfolio">See My Portfolio</button>
        </div>
    </div>
</header>