<app-standardheader></app-standardheader>
<div class="container-fluid">
	<div class="row my-5 px-3">
		<div class="col-lg-6 offset-md-1">
			<h2>Get to know me</h2>

			<p>I am <strong>Lance Hardwood</strong>, the owner & principal photographer of Photographer Lance. I love being able to share the emotions and capture the vibe of all sorts of different events.</p>
			<p>Based out of Vienna, Austria, I´ve been shooting sport events, travel experiences, portrait, architecture and animals for over ten years!</p>
			<p>Get comfy as you browse my work.</p>
			<p>I love feedback! Let's connect!</p> 
			<p>
				<button class="btn btn-outline-primary"><img src="assets/img/social-media-facebook.svg" alt="Facebook" height="40px">&nbsp;Facebook</button>
				<button class="btn btn-outline-primary ml-2"><img src="assets/img/social-media-instagram.svg" alt="Instagram" height="40px">&nbsp;Instagram</button>
			</p>
			<h3>Video about Lance</h3>
			<div class="video-container">
				<iframe src="https://www.youtube.com/embed/v2ocz_8NXlQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>

			<p>When I am not behind the camera, you can find me at the beach with my wife and two daugthers. We take total advantage of the abundance of sunshine every chance we get. There´s never a dull moment in our house!</p>
			<p>After graduating from the university of vienna with a degree in photography, I started documenting all sorts of events to build up my portfolio.</p>
		</div>
		<div class="col-lg-4 text-center">
			<h3>Lance Hardwood</h3>
			<p><img src="assets/img/aboutme.jpg" alt="Lance Hardwood" class="img-fluid"><br><em>Photographer Lance Hardwood</em></p>
			<p><img src="assets/img/soef.png" alt="SÖF" class="img-fluid"></p>
			<h3>Slide Deck</h3>
			<a href="assets/pdf/photographer-lance.pdf" target="_blank"><img src="assets/img/slide-deck.jpg" class="img-fluid rounded" alt="Preserntation Deck about this project"></a>
			<p>Download the <a href="assets/pdf/photographer-lance.pdf" target="_blank">PDF file with the presentation slide deck</a> about this project.</p>
		</div>
	</div>
</div>
<app-footer></app-footer>
