<div class="row my-md-5 pt-5 px-3">
    <div class="col-md-6 pr-3">
        <h3>I Will Make Your Photos Unforgettable</h3>
        <h2>Services I Offer</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
        <p><a class="btn btn-outline-secondary" routerLink="/blog">Read my blog</a></p>
    </div>
    <div class="col-md-6">
        <img src="assets/img/photographer.jpg" class="img-fluid d-xs-none" alt="Your photographer Lance">
    </div>
</div>