<div class="row pt-5 choices">
    <div class="col-12 text-center">
        <div class="row pt-4">
            <div class="col-12 text-center">
                <h3>Here's What Others Say About Me</h3>
            </div>
        </div>
        <div class="row px-5 pt-3 pb-5">
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/testimonial1.jpg" alt="Sepp Unterwurzacher" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">Always on schedule</h3>
                <p>"We love Lance's punctiality. That’s why we book him. Great results and always on time."</p>
                <h5 class="mt-auto">Sepp Unterwurzacher<br>Gaudi Motorcars</h5>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/testimonial2.jpg" alt="Fritz Barbarossa" class="py-2 img-fluid rounded-circle">
            	</div>
                <h3 class="py-2">Great Eye for Details</h3>
                <p>"It is always amazing which details Lance manages to capture in his photos. We love his work.</p>
                <h5 class="mt-auto">Fritz Barbarossa<br>Payer Medicals</h5>
            </div>
            <div class="col-lg-4 col-sm-6 text-center px-5 d-flex flex-column">
            	<div class="mx-5">
                	<img src="assets/img/testimonial3.jpg" alt="riemhild Wagner" class="py-2 img-fluid rounded-circle">
                </div>
                <h3 class="py-2">Great to work with</h3>
                <p>"Lance is just a very pleasant person to work with. He brings in his ideas to complement our own requirements."</p>
                <h5 class="mt-auto">Kriemhild Wagner<br>Culture Smash</h5>
            </div>
        </div>
    </div>
</div>